body {
  background-color: #111;
  color: whitesmoke;
  height: 100vh;
}

form {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin-top: 5vh;
  flex-wrap: wrap;
  font-size: 0.875rem;
  color: #aaa;
}

button {
  padding: 0.35rem 1rem;
  font-size: 13px;
  font-weight: 500;
  border: none;
  border-radius: 2px;
  background-color: #222;
  color: #aaa;
}

button:hover {
    background-color: #333;
}

span {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

span input {
    align-self: stretch;
    background-color: #444;
    border: 1.5px solid #666;
    border-radius: 2px;
    color: whitesmoke;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

span input[type="checkbox"] {
    appearance: none;
    width: 13px;
    height: 13px;
    align-self: center;
    background-color: #444;
}

span input[type="checkbox"]:checked {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z'/%3E%3C/svg%3E");
    background-size: contain;
    background-color: #666;
}

.bookshelf {
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  grid-auto-rows: 300px;
  gap: 4rem;
  margin: 8rem 10rem 0;
  justify-content: center;
}

.book {
  background-color: rgb(237, 159, 100);
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: end;
  padding: 1.25rem;
  border-radius: 4px;
  color: #111111c8;
}

h4 {
  font-weight: 600;
}

.read-tag {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 4px;
  top: 1.25rem;
  padding: 0.25rem 0.75rem;
  border-radius: 64px;
  background-color: #111111a3;
  font-size: 0.75rem;
  color: whitesmoke;
}

.read-tag svg {
    width: 12px;
    height: 12px;
}

.subtitle {
  font-size: 0.875rem;
}