body {
  background-color: #111;
  color: whitesmoke;
  height: 100vh;
}

form {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin-top: 5vh;
  flex-wrap: wrap;
}

button {
  padding: 0.25rem 1rem;
  font-weight: 500;
}

span {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

span input {
    align-self: stretch;
}

.bookshelf {
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  grid-auto-rows: 300px;
  gap: 4rem;
  margin: 8rem 10rem 0;
  justify-content: center;
}

.book {
  background-color: rgb(237, 159, 100);
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: end;
  padding: 1.25rem;
  border-radius: 4px;
  color: #111111c8;
}

h4 {
  font-weight: 600;
}

.read-tag {
  position: absolute;
  top: 1.25rem;
  padding: 0.25rem 0.75rem;
  border-radius: 64px;
  background-color: #111111a3;
  font-size: 0.75rem;
  color: whitesmoke;
}

.subtitle {
  font-size: 0.875rem;
}